.main-background {
    background: rgb(124, 184, 253);
}
.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
    object-fit: cover;
}
.header {
    margin: 15px 60px 5px 60px;
}
.nav-link {
    color: white;
}
.nav-link.active {
    background-color: white !important;
    color: #007bff !important;

    /* Shadow */
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.jumbotron {
    margin: 20px 60px 20px 60px;
    padding: 2rem 1rem;
    text-align: center;
    background: rgb(241, 154, 78);
    color: white;

    /* Shadow */
    -webkit-box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.75);
    
}
.jumbotron h1 {
    font-size: 50px;
    line-height: 1.5;
}
.me-picture {
    border: 5px solid white;
    border-radius: 5%;
    width: 35%;
    min-width: 200px;
    height: auto;
}
.lead {
    font-size: 20px;
}
p.lead {
    margin: 0;
}
.icons {
    margin: 0 auto;
    display: table;
    font-size: 40px;
    /* color: rgb(190, 51, 51); */
    color: white;
}
.bullet {
    color: rgb(233, 136, 57);
}
a.icon:link {
   color: inherit;
   text-decoration: none;
}
a.icon:visited {
   color: inherit;
   text-decoration: none;
}
a.icon:hover {
   color: rgb(221, 221, 221);
   text-decoration: none;
}
a.icon:active {
   color: inherit;
   text-decoration: none;
}